<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Page Not Found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" type="text/css" href="css/uikit.min.css" />
	
</head>

<body>

    <div class="uk-form">
        <div class="uk-panel">
            <div id="div-pnf">
                The page requested is not available. Please check the URL again and retry.
            </div>
        </div>
    </div>

</body>

</html>